@use 'sass:math'
@use 'sass:color'

/*#00a779*/
$gxen-kolor: #1F7D63
$aldon-agres-kolor: #B22C46
$aldon-pasiv-kolor: #BF872F

%meze
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
.meze
  @extend %meze
  min-height: 100%
%plenig
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

.material-symbols-outlined
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
  user-select: none

@each $italic in [false true]
  @font-face
    font-family: "Inter var"
    src: url("/tipar/inter/Inter#{if($italic, "-Italic","")}.var.woff2") format("woff2")
    font-display: swap
    @if $italic
      font-style: italic
  @each $bold in [false true]
    $n1: if($bold, "Bold", "Regular")
    $n2: if($italic, "Italic", "")
    @font-face
      font-family: "Inter"
      $voj: "/tipar/inter/#{$n1}#{$n2}"
      src: url("#{$voj}.woff") format("woff"), url("#{$voj}.woff2") format("woff2")
      font-display: swap
      @if $bold
        font-weight: bold
      @if $italic
        font-style: italic

body
  margin: 0
  font-family: "Inter"
  font-feature-settings: 'case'
  @supports (font-variation-settings: normal)
    font-family: 'Inter var'

  > div
    display: flex
    flex-flow: column
    height: 100vh
    overflow: hidden

a
  color: $aldon-pasiv-kolor

.malsekur 
  position: absolute
  left: 0
  color: $aldon-agres-kolor
  z-index: 5
  padding: 1em
  margin-left: -1em
  margin-top: -1em

.malaktiv
  opacity: 0.5

.btn
  cursor: pointer
  &.malaktiv
    cursor: not-allowed

// Eraroj por sxprucfenestroj
.sxpruc-erar
  position: absolute
  left: 0
  right: 0
  top: 100%
  background: $aldon-agres-kolor
  margin-top: -5px
  border-radius: 0 0 5px 5px
  padding: 0.5em
  color: white
  text-align: center

#supr
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  //background: $gxen-kolor
  color: white
  $supr-alt: 3rem
  font-size: $supr-alt
  height: 1em
  box-shadow: 0px 1px 10px 0px #000d
  z-index: 100
  user-select: none
  @media (orientation: landscape)
    padding: 0 0.2em 0 0.2em

  &::before
    @extend %plenig
    content: ""
    background-color: $gxen-kolor
    z-index: -1

  #menu
    display: flex
    justify-content: space-around
    flex-basis: 20em
    flex-shrink: 1
    font-size: 0.6em
    @media (max-width: 35rem)
      font-size: 0.33em
    .menu-kat
      display: flex
      flex-flow: column
      justify-content: center
      .menu-malvolv
        display: grid
        padding: 10px
        position: absolute
        top: 100%
        left: 0
        right: 0
        z-index: 1
        z-index: -2
        background: color.adjust($gxen-kolor, $alpha: -0.1)
        backdrop-filter: blur(5px)
        grid-template-columns: repeat(auto-fit, minmax(6em, 1fr))
        > div
          display: grid
          grid-template-rows: subgrid
          grid-template-columns: auto auto max-content auto auto
          > div
            grid-column: 2 / span 3
            display: grid
            grid-template-rows: subgrid
            grid-template-columns: subgrid
            border-radius: 5px
            background: color.adjust($gxen-kolor, $alpha: -0.8, $lightness: -10%)
            a
              grid-column: 2
              grid-row: span 2
              display: block
              text-decoration: none
              &:first-child
                font-weight: bold
        transform: translateY(-100%)
        transition: transform 0.4s ease-in-out
        @media (pointer: fine)
          transition-delay: 0.2s
      &:hover .menu-malvolv
        transform: translateY(0)

  #uzant
    cursor: pointer
    position: relative
    height: 100%

    .material-symbols-outlined
      font-size: 1em

    img
      width: 1em
      height: 1em
    #ombro
      position: absolute
      top: 0
      height: 1em
      left: 0
      width: 1em
      box-shadow: 0px 0px 10px 0px #0008 inset
    img, #ombro
      border-radius: 100%

  #uzant-menu
    @extend %meze
    z-index: 10
    font-size: 1.5rem
    position: absolute
    top: 4rem
    background: $gxen-kolor
    border-radius: 5px
    padding: 1em
    text-align: center
    min-width: 10em
    max-width: 100vw
    @media (orientation: portrait)
      right: 0
      left: 0
    @media (orientation: landscape)
      right: 0.6rem
      width: max-content

    #list
      .material-symbols-outlined
        margin-top: 1px
        margin-right: 3px
      .simbol-logout
        margin-left: -1px
      > div
        display: flex
        text-align: left
        padding: 5px
        border-radius: 5px
        position: relative

        &:hover
          background: #fff1

        > div:last-child
          display: inline-block
          flex-grow:1
          text-align: center

        &::before
          @extend %plenig
          content: ""
          background-color: $aldon-agres-kolor
          z-index: -1
          border-radius: 5px
          clip-path: circle(0% at 50% 50%)
          transition: clip-path 0.2s
        &.elir-konfirm::before
          clip-path: circle(130% at 50% 50%)
    input
      display: block
      border: transparent
      background: #ffffff18
      margin-top: 0.5em
      color: white
      font-size: 1em
      text-align: center
      border-radius: 2px

    &::before
      content: ""
      position: absolute
      bottom: 100%
      width: 3px
      height: 0
      border: 0.5em solid transparent
        bottom-color: $gxen-kolor
      right: 10px

    #ensalut-btn
      width: 80%
      margin-top: 0.5em
      font-size: 1em
      border: none
      color: inherit
      background: #FF9C0055
      border-bottom: 2px solid #FF9C00
      border-radius: 0 0 3px 3px

    .sukc-mark
      font-size: 3em

.supernivel
  @extend %meze
  min-height: 100vh
  position: absolute
  top: 0
  right: 0
  left: 0
  background: white
  z-index: 10000

@mixin blok
  @extend %meze
  &, .sxpruc-erar
    box-shadow: 0 5px 20px 0 #666
  padding: 0.5em
  box-shadow: 0 5px 20px 0 #666
  border-radius: 5px

#erar-pagx
  @include blok
  font-size: 2em
  text-align: center
  $largx: 30rem
  max-width: $largx
  @media (max-width: $largx+2rem)
    border-radius: 0
  #erar-mark
    height: 3em
    width: 3em
    color: $aldon-agres-kolor
    position: relative
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    #avert-mark
      font-size: 3em
    #sercx-mark, #sercxat-mark
      animation: 3s search infinite
      margin:
        left: -0.5em
        top: -0.5em
      position: absolute
      opacity: 0.4
    #sercx-mark
      color: $gxen-kolor
      animation-delay: 0.3s
    #sercxat-mark
      font-size: 0.4em
    #erar404
      text-shadow: 3px 3px 0px color.adjust($aldon-agres-kolor, $alpha: -0.8)
      color: $aldon-agres-kolor
      position: relative
      font-size: 2em
      white-space: nowrap

    @keyframes search
      0%
        top: 0%
        left: 33%
        transform: rotate(0)
      10%
        top: 33%
        left: 10%
        transform: rotate(-10deg)
      30%
        top: 100%
        left: 50%
        transform: rotate(-30deg)
      50%
        top: 50%
        left: 100%
        transform: rotate(0deg)
      70%
        top: 100%
        left: 0
        transform: rotate(10deg)
      90%
        left: 66%
        top: 5%
        transform: rotate(20deg)
      100%
        top: 0%
        left: 33%
        transform: rotate(0)

  #reen
    display: grid
    grid-template-columns: auto auto
    margin-top: 0.25em
    span
      position: relative
      top: 3px
      font-size: 0.75em
    a
      font-size: 0.75em
      text-align: left

.fantom
  height: 0
  margin: 0
  visibility: hidden

.simbol-logout
    transform: scale(-1, 1)

#krei-kont
  @include blok
  $dist: 1.4em
  $margin: 2em
  font-size: 2em
  position: relative
  margin: 2em 0
  @media (orientation: portrait)
    margin: 0
    border-radius: 0
  #rezign, > #ferm
    position: absolute
    top: 0
    cursor: pointer
    transition: opacity 0.2s ease-in-out
    opacity: 0.3
    &:hover
      opacity: 1
  #rezign
    left: 0
    height: 3rem
    width: 3rem
    font-size: 2.5rem
    display: flex
    justify-content: center
    align-items: center
    &:hover
      color: $aldon-agres-kolor
      text-shadow: 0 0 10px $aldon-agres-kolor
  > #ferm
    right: 0
    font-size: 3rem
  h1
    margin:
      top: 0.1em
      bottom: 0
    font-size: 1.25em
    font-weight: lighter
    opacity: 0.85
    text-align: center
  hr
    width: 100%
    opacity: 0.4
    margin-bottom: 1.3em
  hr ~ div
    @extend %meze
    @media (orientation: landscape)
      padding: 0 2em

  #enig-dosier
    display: none

  #uzantbild
    @extend %meze
    position: relative
    $largx: 2.5em
    width: $largx
    height: $largx
    border: 1px solid black
    margin-bottom: $dist + 1em
    &.elektit
      border-color: #0002
      width: $largx + 1em
      height: $largx + 1em
      margin-bottom: 1em
    cursor: pointer
    &, .cr-boundary
      border-radius: 5px

    #ferm
      position: absolute
      color: $aldon-agres-kolor
      right: -1.5rem
      top: -1.5rem
      font-size: 1em

    .croppie-container
      .cr-viewport, .cr-resizer
        border: none
      .cr-slider-wrap
        margin: auto
          top: -0.25em

    .material-symbols-outlined
      font-size: $largx

    #uzantbild-konsilet
      position: absolute
      top: 100%
      width: max-content
      font-size: 0.8em
      background: #ddd
      opacity: 0.95
      padding: 2px
      border-radius: 3px
      &::before
        content: ""
        position: absolute
        bottom: 100%
        left: 50%
        border: 0.8em solid transparent
          bottom-color: #ddd
        margin-left: -0.8em

  .sxpruc-erar
    font-size: 0.8em

  input[type="text"], textarea
    font-size: 1em
    background: #0000000c
    border: 7px solid #0002
      left-color: transparent
      right-color: transparent
    font-family: inherit

  input[type="text"]
    width: 0
    min-width: 100%
    text-align: center

  #subskrib
    $fl: 0.8
    font-size: $fl*1em
    color: #0006
    height: 1em
    margin-bottom: $dist - $fl*1em

  textarea
    min-width: 100%
    font-size: 0.8em
    max-width: 80vw
    margin-bottom: math.div($dist, 2)

  #krei-btn
    width: 100%
    font-size: 0.8em
    background: $gxen-kolor
    color: white
    border-radius: 5px
    text-align: center
    padding: 0.2em 0
    border: 2px outset black

.senlumig #rulumej
  visibility: hidden

#rulumej
  overflow-y: auto
  flex-grow: 1

article
  white-space: pre-wrap
  overflow-wrap: break-word
  position: relative
  @media (orientation: portrait)
    padding: 0.5em 0.5em
  @media (orientation: landscape)
    padding: 0.5em 2em
  div.lin
    display: inline
  table
    display: block
    width: max-content
    max-width: 100%
    overflow-x: auto
  @mixin arangx($tip, $flextip, $float: true)
    .#{$tip}
      text-align: $tip
      *
        justify-content: $flextip
      @if $float
        &.float
          float: $tip
  @include arangx(left, start)
  @include arangx(center, center, false)
  @include arangx(right, end)

  .bold, .italic, .bold, .underline, .strikethrough, .super, .sub
    display: inline
  .bold
    font-weight: bold
  .italic
    font-style: italic
  .underline
    text-decoration: underline
  .strikethrough
    text-decoration: line-through
  .supsub
    display: inline-grid
    font-size: 70%
    position: relative
    top: -0.45em
    line-height: 9px
    margin-bottom: -100px
  .cit
    border: 5px solid $aldon-pasiv-kolor
      top: none
      bottom: none
    padding: 0.25em 0.5em
    margin: 0.5em 0
    border-right: 5px solid #BF872F
    border-radius: 5px

  table
    $lim: 1px solid #0003
    margin: 0 auto
    padding: 0.75em
    border: $lim
      radius: 5px
      spacing: 0 0
    td
      padding: 5px

    tr
      td
        border-bottom: $lim
      &:last-child td
        border-bottom: initial
    td
      border-right: $lim
      &:last-child
        border-right: initial
    .table-head
      border-bottom-width: 2px
      border-bottom-color: #0008

  h1, h2, h3, h4, h5, h6
    position: relative
    display: flex
    flex-flow: row
    align-items: center
    @media (orientation: landscape)
      margin-left: -1em
    @media (orientation: portrait)
      margin-left: -0.25em
    margin-right: 0.25em
    .titlelink
      opacity: 0.25
      &:hover
        opacity: 1
        cursor: copy
  img
    max-width: 100%

  .analiz-fiask
    display: inline
    padding: 0 0.25em
    border: 0.35em solid
    border-color: transparent red

  .libr
    border: 0.25em solid $gxen-kolor
    border-radius: 2px
    padding: 0.25em
    .libr-foliar
      display: flex
      flex-flow: row wrap
      padding-bottom: 0.25em
      > div
        position: relative
        font-size: 1.2em
        margin: 0 1em 0.5em
        flex-grow: 1
        text-align: center
        border-radius: 6px 0

        .elekt-areo
          position: absolute
          top: -0.5em
          right: -1em
          bottom: -0.5em
          left: -1em

        &::before, &::after
          content: ""
          border: 3px solid
          width: 0.25em
          height: 0.25em
          display: block
          position: absolute
          opacity: 0.25
          transition: 0.15s ease-in-out
        &::before
          bottom: 0
          left: -0.2em
        &::after
          top: 0
          right: -0.2em
        &:hover, &.elektit
          &::after, &::before
            opacity: 1
            width: 0.75em
            height: 0.75em

        @mixin kunKolor
          @content($gxen-kolor)
          &.elektit
            @content($aldon-pasiv-kolor)
        @include kunKolor using ($kolor)
          &::before
            border-color: transparent transparent $kolor $kolor
          &::after
            border-color: $kolor $kolor transparent transparent
          &:hover, &.elektit
            background-color: color.change($kolor, $alpha: 0.1)
    .libr-pagx
      border: 0.25em solid transparent
      border-top-color: $gxen-kolor

// Redaktado
#supr #redakt-btn
  height: max-content
  background: transparent
  border: none
  color: #ffff
  font-size: 0.6em
  &.malaktiv
    opacity: 0.1
#redakt-menu
  display: flex
  justify-content: space-between
  margin: -1px 5px 3px 5px
  > *
    background: $gxen-kolor
    font-size: 2.5rem
    opacity: 0.5
    color: white
    border-radius: 5px
    transition: opacity 0.1s ease-in-out
    &:hover
      opacity: 1

#redaktej
  flex-grow: 1
  margin: 5px 10px
  overflow-y: scroll
  textarea
    font-family: inherit
    resize: none
    width: 100%
    border: 0 solid #ddd
    border-width: 0 1px
    box-sizing: border-box

#titol
  font-weight: normal
  display: block
  width: max-content
  margin: 5px auto 15px auto
  input
    font: inherit
    border: none
    width: 1em
    min-width: 100%
  hr
    margin: 0 10%

#fin
  margin-top: 2em
  #etikedoj
    display: flex
    flex-flow: row wrap
    > *
      margin:
        right: 0.5em
        bottom: 0.5em
    .etiked, .etiked-plus
      background: white
      border-radius: 4px
      padding: 0 5px
      border: 1px solid
#redaktej #fin #etikedoj
  .etiked-lok
    height: 1.3em
  .etiked-plus
    cursor: pointer
  .etiked
    position: relative
    display: grid
    grid-template-columns: auto auto auto auto
    grid-gap: 0 3px
    overflow: scroll
    max-height: 3.5em
    &.elektit
      z-index: 10
    .etiked-nom
      padding-right: 0.25em
      min-width: 1em
    .etiked-uzoj
      opacity: 0.7
    .etiked-propon
      opacity: 0.5
      cursor: pointer
      &:hover
        opacity: 1

#sxarg
  position: sticky
  bottom: 1em
  width: max-content
  float: right
  @media (orientation: portrait)
    width: 100%
    bottom: 0
    margin-right: 0
    box-sizing: border-box
    border-bottom-left-radius: 0
  z-index: 10
  background: $aldon-pasiv-kolor
  color: white
  border-radius: 5px 5px 0 5px
  padding: 0 0.25em
  box-shadow: 0 0 5px 0 black
  display: flex
  align-items: center
  margin-right: 1em
  .meze + &
    position: fixed
    right: 0
  > div
    margin-top: 2px
    display: inline
    text-align: center
    flex-grow: 1
  > .simbol-autorenew
    animation: sink 1s infinite
    @keyframes sink
      from
        transform: rotate(45deg)
      to
        transform: rotate(225deg)
  > .simbol-settings
    animation: agord 1s infinite
    @keyframes agord
      from
        transform: rotate(0deg)
      to
        transform: rotate(60deg)
  &.fin-malgracie
    visibility: hidden
  &.fin-gracie
    animation: fin-gracie 0.5s forwards
    animation-delay: 5s
    @keyframes fin-gracie
      from
        clip-path: circle(140% at 1em center)
      to
        visibility: hidden
        clip-path: circle(0% at 1em center)
